<section class="pt-4 pb-6">
  <div class="container">
    <div class="pb-lg-4">
      <p class="subtitle text-secondary">One-of-a-kind race photos respository</p>
      <h2 class="mb-5">Discover your race photos</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-secondary-light">
            <i class="fas fa-camera fa-lg"></i>
          </div>
          <h3 class="h6 text-uppercase">Find the perfect picture</h3>
          <p class="text-muted text-sm">When sprinting down the finish line</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-primary-light">
            <i class="fas fa-search fa-lg"></i>
          </div>
          <h3 class="h6 text-uppercase">Search using Bib No / Name</h3>
          <p class="text-muted text-sm">Pictures tagged to your bib / names</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-secondary-light">
            <i class="fas fa-share-alt fa-lg"></i>
          </div>
          <h3 class="h6 text-uppercase">Share on social media</h3>
          <p class="text-muted text-sm">Show off your pictures </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="px-0 pr-lg-3">
          <div class="icon-rounded mb-3 bg-primary-light">
            <i class="fas fa-envelope fa-lg"></i>
          </div>
          <h3 class="h6 text-uppercase">Never miss a race photos tagged to you</h3>
          <p class="text-muted text-sm">A notification email will be delivered when a photo is tagged to you</p>
        </div>
      </div>
    </div>
  </div>
</section>