<div class="jumbotron bg-light">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Search for your running pictures</h1>
      <h4 class="text-center">Taken by our local photographers</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <form class="form-wrap mt-4 text-center">
        <div class="btn-group" role="group">
          <input type="text" placeholder="What are your looking for?" class="btn-group1">
          <input type="text" placeholder="New york" class="btn-group2">
          <button type="submit" class="btn-form">
            <span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>


