<div class="container">
  <div class="search-bar rounded p-2 p-lg-4 position-relative mt-n5 z-index-20">
    <form action="#">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-center form-group">
          <input type="search" name="search" placeholder="What is your bib-no?" class="form-control border-0 shadow-0">
        </div>
        <div class="col-md-6 col-lg-6 d-flex align-items-center form-group no-divider">
          <select title="Races" data-style="btn-form-control" class="selectpicker col-12">
            <% for race in featured_races %>
              <option value=<% race.id %>><%= race.name_with_year %></option>
            <% end %>
          </select>
        </div>
        <div class="col-lg-2 form-group mb-0">
          <button type="submit" class="btn btn-primary btn-block h-100">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>