<% content_for :page_title, "Upload Photos" %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'shared/errors', resource: @photo %>

    <%= render 'form', photo: @photo %>
  </div>
</div>
