<nav class="navbar navbar-light fixed-top">
  <a class="navbar-brand" href="/">
    <h1>El .</h1>
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'Photos', photos_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Races', races_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Login', races_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Register', races_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>